<html layout:decorator="layout">
<div layout:fragment="content">
    <form method="post" name="test_form" id="test_form" action="/tests/add-test" role="form" th:if="${test==null}">
        <div class="form-group">
            <label for="test_name">Описание теста</label>
            <input class="form-control" name="test_name" id="test_name" type="text" placeholder="введите наименование теста для отображение в заголовках"/>
            <br/>
            <label for="test_description">Описание теста</label>
            <textarea rows="5" class="form-control" id="test_description" name="test_description" placeholder="кратко опишите о чем ваш тест"/>
            <br/>
            <label><input type="checkbox" id="singlepage" name="singlepage" checked="checked"/>&nbsp;Размещать вопросы теста на одной странице</label>
        </div>
        <button type="submit" id="add_test" class="btn btn-primary pull-right">Добавить вопрос</button>
    </form>

    <form method="post" name="question_form" id="question_form" action="/tests/add-question" role="form" th:if="${test!=null}">
        <div class="form-group">
            <input type="hidden" name="id" th:value="${test.id}"/>
            <p th:text="${test.name}">Name test</p>
            <label for="question">Вопрос</label>
            <textarea rows="5" class="form-control" id="question" name="question" placeholder="введите вопрос к тесту"/>
            <br/>
        </div>
        <button type="submit" id="add_question" class="btn btn-primary pull-right">Добавить следующий вопрос</button>
    </form>
</div>
</html>